{% extends 'W_message.html' %}


{% block main %}

	<div class="jumbotron text-center" style="min-height: 600px;line-height: 200px;background:none;">
		{% if userInfo1.isAdmin == '3' %}
		<h1 style="margin-top:100px;">
			亲爱的:<span style="color:red;font-size:40px;">{{userInfo.username}}</span><span style="color:deeppink;">BOSS！！！</span>
		</h1>
			<h2  style="margin-top:30px;">欢迎回家</h2>
		{% elseif userInfo1.isAdmin == '2' %}
		<h1 style="margin-top:100px;">
			亲爱的
			<span style="color:blue;">{{userInfo.username}}</span><span style="color:lightblue;">经理！！！</span>
		</h1>
		
		<h2  style="margin-top:30px;">欢迎进入后台</h2>
		{% elseif userInfo1.isAdmin == '1' %}
		<h1 style="margin-top:100px;">
			亲爱的
			<span style="color:white;">{{userInfo.username}}</span><span style="color:lightblue;">总监！！！</span>
		</h1>
		<h2  style="margin-top:30px;">欢迎进入后台</h2>
		{%endif%}
		<button style="padding: 0px;width: 250px;height: 50px;" class="btn btn-success btn-lg">
			<a style="display:block;width:100%;height:100%;line-height:50px;font-size:20px;text-decoration:none;" href="/user/users">进入后台界面</a>
		</button>
	</div>

{% endblock%}
