

{% block main %}

    <ol class="breadcrumb">
        <li>管理订单</li>
        <li><span>修改订单商品详情</span></li>
    </ol>


<h3>修改订单</h3>

{%endblock%}



{% block main %}
<style>
	form{
		padding: 10px;
	}
	label{
		float:left;
		text-align:right;
	}
	input[type=text]{
		float:left;
		
	}
	.form-group{

		margin:5px auto 0px;
	}

	
</style>

<ol class="breadcrumb">
    <li><a href="/user">管理订单</a></li>
    <li><span>修改订单商品详情信息</span></li>
</ol>

<form role="form" action="/order/orderdetailupdate" method="post">
    <div class="form-group clear">
        <label for="xl">数量:</label>
        <input type="text" class="form-control" value="{{odetail.count}}" name="count" placeholder="请输入地址...">
    </div>
	<input type="hidden" name="id" value="{{odetail._id.toString()}}"/>
    <input type="hidden" name="oid" value="{{odetail.oid}}">
    <input type="hidden" name="price" value="{{odetail.price}}">
    <div class="form-group clear">
        <label for="name">颜色:</label>
        <input type="text" class="form-control" name="color" placeholder="请输入姓名..." value="{{odetail.color}}">
    </div>

    <br>
    <button type="submit" class="btn btn-lg btn-success">修改</button>
</form>

{%endblock%}






