{% extends 'W_message.html' %} 
{% block main %}
<style>
	.W_tab {
		width: 100%;
		margin: 20px 0px;
		position: relative;
	}
	
	h3 {
		font-family: "仿宋";
	}
	
	.W_tab:last-of-type td {
		text-align: center;
	}
	
	ol {
		position: relative;
	}
	
	th {
		height: 40px;
		text-align: center;
		border: 1px solid #000;
	}
	
	td {
		padding: 0px 5px;
		border: 1px solid #ccc;
		text-align: text;
		font-size: 16px;
		font-family: '仿宋';
		overflow: hidden;
	}
	
	td input[type=radio] {
		float: left;
		margin-top: 14px;
		margin-right: 5px;
		margin-left: 10px;
	}
	
	.W_root {
		width: 300px;
	}
	
	td label {
		float: left;
	}
	
	td:last-of-type {
		text-align: center;
		width: 60px;
		padding: 0px;
		position: relative;
	}
	
	.W_hideTit {
		position: absolute;
		text-align: center;
		height: 40px;
		width: 60%;
		top: 0px;
		left: 300px;
		line-height: 40px;
		font-size: 26px;
		font-family: '仿宋';
		font-weight: 900;
		overflow: hidden;
	}
	
	td:last-of-type a {
		display: inline-block;
		line-height: 40px;
		text-decoration: none;
		font-size: 20px;
		color: red;
		font-weight: 600;
	}
	
	td:last-of-type a:hover {
		background: #cac;
	}
	
	th {
		background: #ccc
	}
	
	#W_select {
		float: left;
		width: 200px;
		height: 30px;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		margin: 2px;
	}
</style>
<script>
	$(function() {
		//商品查询Vue中ajax异步查询
		var app = new Vue({
			delimiters: ['${', '}'],

			el: '.find_cote',

			data: {
				findSql: null,
				show: true,
				message: '请输入你要查找数据的关键字与类型!!!'
			},
			methods: {
				find: function() {
					if($('#find_ipt').val() == '') {
						alert('请输入搜索条件');
						return;
					}
					var that = this;
					//ajax发送请求
					$.ajax({
						type: 'post',
						data: {
							name: $('#find_ipt').val(),
							W_select: $('#W_select').val()
						},
						url: '/user/user_money_see',
						dataType: 'json',
						success: function(result) {
							if(result.length > 0){
								that.findSql = result;
								that.show = false;
								that.message='请输入你要查找数据的关键字！！'
							}else{
								that.findSql = null;
								that.show = true;
								that.message='未找到你要查找的账户！！'
							}
						}
					});

				}
			}
		})
	});
</script>
<ol class="breadcrumb">
	<li>
		<a href="/user">管理首页</a>
	</li>
	<li>
		<a href="/user/user_money">前台用户列表</a>
	</li>
	<li><span>用户查询</span></li>

</ol>

<div class="find_cote">
	<h3>分类查找用户</h3>
	<div class="row">
		<div style="float:left;margin-left:20px;">
			<select name="商品分类查找" id="W_select">
				<option value="username">帐号</option>
				<option value="phone">注册电话号码</option>
				<option value="userStatus">是否可用</option>
			</select>
		</div>
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" id="find_ipt" class="form-control" placeholder="请输入关键字">
				<span class="input-group-btn">
		        <button @click="find" class="btn btn-default" type="button">查询</button>
		    </span>
			</div>

		</div>

	</div>
	
	<h2 v-show="show" style="font-family: '仿宋';text-align:center;margin:50px 0px;color:red;">
		${message}
	</h2>
	
	<table class="W_tab" id="Wfind_tab" v-show="!show">
	
		<tr>
			<th class="hide">ID</th>
			<th>帐号</th>
			<th>注册时间</th>
			<th>注册电话号码</th>
			<th>是否可用</th>
			<th>操作</th>
		</tr>
		<tr v-for="item in findSql">
			<td class="hide">{{user._id.toString()}}</td>
			<td>${item.username}</td>
			<td>${item.regtime.toString()}</td>
			<td>${item.phone}</td>
			<td>${item.userStatus}</td>
			{%if userInfo1.isAdmin != '1'%}
			<td>
				<a class="user_money_del" href="javascript:;">删除</a>
				<a data-toggle="modal" data-target=".xiu1-example-modal-lg" v-bind:href="'/user/users_moneyXiu?id='+item._id">修改</a>
			</td>
			{%else%}
			<td>无</td>
			{%endif%}
		</tr>
	
	</table>	
	



</div>
{% endblock %}