<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/public/js/jquery.min.js"></script>
		<link rel="stylesheet" href="/public/css/houtai/W_login.css" />
		<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
		<script src="/public/js/houtai/admin.js"></script>
	</head>

	<body>
		
		<div class="signin">
			<div class="W_head">Z后台登录管理系统</div>
			<div class="signin-head"><img width='120' height="120" src="/public/images/houtai/wei.jpg" alt="" class="img-circle"></div>
			<form class="form-signin" >
				<div class="box" style=""></div>
				
				<input type="text" autocomplete="off" name="username" value="" class="form-control" placeholder="用户名" autofocus />

				<input type="password" autocomplete="new-password" name="password" value="" class="form-control" placeholder="密码" />

				<button class="btn btn-lg btn-warning btn-block" id="W_btn">登录</button>
			</form>
		</div>

	</body>
	<script src="/public/js/bootstrap.min.js"></script>

</html>