<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
	
	<title></title>
	<link rel="stylesheet" href="/public/css/yd/me/font/iconfont.css">
	<link rel="stylesheet" href="/public/css/yd/me/my.css">
	<link rel="stylesheet" href="/public/css/yd/index/footer.css"> 
</head>
<body>
	<header>
		<div>
			<a href="javascript:history.back();" class="iconfont">&#xe693;</a>
		</div>
		<div>
			<p>Z商城买家中心</p>
		</div>
		<div><a href="">退出</a></div>
	</header>
	<div class="user">
		<div>
			<a href=""><img src="/public/images/ydimg/me/user.jpg" alt=""></a>
		</div>
		<p>用户名</p>
		
	</div>
	<main>
		<div>
			<h3>我的订单</h3>
		</div>
		<ul class="clear dingdan">
			<li><a href="" class="iconfont">&#xe640;</a><p>代付款</p></li>
			<li><a href="" class="iconfont">&#xe641;</a><p>代付款</p></li>
			<li><a href="" class="iconfont">&#xe894;</a><p>代付款</p></li>
			<li><a href="" class="iconfont">&#xe68e;</a><p>代付款</p></li>
			<li><a href="" class="iconfont">&#xe68d;</a><p>代付款</p></li>
		</ul>
		<ul class="leibiao">
			<li class="clear"><p>退款/售后</p><a href="" class="iconfont">&#xe694;</a></li>
			<li class="clear"><p>收货地址管理</p><a href="" class="iconfont">&#xe694;</a></li>
			<li class="clear"><p>我的优惠卷</p><a href="" class="iconfont">&#xe694;</a></li>
			<li class="clear"><p>客服电话：400-688-1999</p><a href="" class="iconfont">&#xe694;</a></li>
		</ul>
	</main>
	<!--尾部-->
	<footer>
		<a href="/yd/shouye">
			<label >
				<i class="iconfont" >&#xe61c;</i>
				<span >首页</span>
			</label>
		</a>
		<a href="/yd/fenlei">
			<label>
				<i class="iconfont">&#xe699;</i>
				<span>分类</span>
			</label>
		</a>
		<a href="/yd/gouwu">
			<label>
				<i class="iconfont">&#xe63f;</i>
				<span>购物车</span>
			</label>
		</a>
		<a href="/yd/me">
			<label>
				<i class="iconfont" style="color:#FF1111">&#xe6a3;</i>
				<span style="color:#FF1111">我</span>
			</label>
		</a>
	</footer>
</body>
<script>
	var html = document.getElementsByTagName('html')[0];
	var W = html.clientWidth;
	html.style.fontSize = W / 20 +'px';
	// console.log(W);
</script>
</html>