<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/public/css/L_Retrieve.css">
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/L_Retrieve.js"></script>
	<link rel="stylesheet" href="/public/css/reset.css">
</head>
<body>
	<header>
		<ul class="clear">
			<li><a href=""><img src="/public/images/L_1logo.png" alt=""></a></li>
			<li><span>找回密码</span></li>
		</ul>
	</header>
	<main>
		<div class="L_foot_form">
			<form action="">
				<div>
					<span>用户名:</span>
					<input type="text" name="user">
					
				</div>
				<div>
					<span>手机号:</span>
					<input type="text" name="user">
					<a href="####" class="L_duanxi">点击获取验证码</a>
				</div>
				<div>
					<span>验证码:</span>
					<input type="text" name="oldpassword">
					<small></small>
				</div>
				<div>
					<span>新密码:</span>
					<input type="text" name="newpassword">
					<small></small>
				</div>
				<div>
					<span>确认密码:</span>
					<input type="text" disabled="disabled">
					<small></small>
				</div>
				<div>
					<span></span>
					<button class="submit2" type="button">提交</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>