<link rel="stylesheet" href="/public/css/W_foot_index.css" />

<div class="W_indexf">
	<div class="W_indexf_top clear">
		<dl>
			<dt>购物指南</dt>
			<dd>
				<a href="####">购物流程</a>
			</dd>
			<dd>
				<a href="####">常见问题</a>
			</dd>
		</dl>
		<dl>
			<dt>售后服务</dt>
			<dd>
				<a href="####">申请退款</a>
			</dd>
			<dd>
				<a href="####">售后政策</a>
			</dd>
			<dd>
				<a href="####">售后问题</a>
			</dd>
		</dl>
		<dl>
			<dt>团购特点</dt>
			<dd>
				<a href="####">团购优势</a>
			</dd>
			<dd>
				<a href="####">参团效果</a>
			</dd>
		</dl>
		<dl>
			<dt>商务合作</dt>
			<dd>
				<a href="####">媒体合作</a>
			</dd>
			<dd>
				<a href="####">团购合作</a>
			</dd>
		</dl>
		<dl>
			<dt>商城服务</dt>
			<dd>
				400-688-1999
			</dd>
			<dd>
				工作日(9:00-18:00)
			</dd>

			<dd>
				<a href="####"><i class="iconfont">&#xe64b;</i>关注新浪微博</a>
			</dd>
		</dl>

		<div class="W_indexf_ma">
			<p class="W_indexf_ma_code">
				<img src="/public/images/W_img8.jpg" alt="" />
			</p>
			<p> 微信关注：Z商城</p>
			<p>扫码赢优惠&nbsp;订单时时查</p>
		</div>
	</div>
</div>

<div class="W_pubf">
	<div class="W_pubf_foot">
		<span class="W_lable">合作伙伴:</span>
		<div class="W_pf_t">

			<a href="####">中关村在线 </a>
			<span>|</span>
			<a href="####">Z商城 </a>
			<span>|</span>
			<a href="####">团购 </a>
			<span>|</span>
			<a href="####">产品报价 </a>
			<span>|</span>
			<a href="####">论坛 </a>
			<span>|</span>
			<a href="####">问答 </a>
		</div>
		<div class="W_pf_m">
			<a href="####">关于Z商城 </a>
			<span>|</span>
			<a href="####">帮助中心 </a>
			<span>|</span>
			<a href="####">联系我们 </a>
		</div>
		<div class="W_pf_b">
			<span>
						&copy;2017 中关村在线 版权所有. 
						<a href="####">京ICP证150096号</a>
						京ICP备14061128号
						<a href="####">京公网安备11010802020026号</a>
						<a href="####">网络文化经营许可证京网文[2016]1631-199</a>
					</span>
		</div>
	</div>
</div>