{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        卖家版
    </div>

    <div class="Z_main">
        <div class="Z_detail">
            <h4>新版生意宝下载之后没有进入卖家中心的功能了？</h4>
            <p></p>
            <p>第一步，点击接收文件。</p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1558.png">
                    <img src="/public/images/1558.png">
                </a>
            </p>
            <p>
                <br>
                &nbsp;&nbsp;
                <br>
                第二步，在出来的文件夹里按照顺序往上倒，一直到名为dove的文件夹。
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1559.png">
                    <img src="/public/images/1559.png">
                </a>
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1560.png">
                    <img src="/public/images/1560.png">
                </a>
            </p>
            <p>
                <br>
                &nbsp;&nbsp;
                <br>
                第二步，在出来的文件夹里按照顺序往上倒，一直到名为dove的文件夹。
            </p>
        </div>
    </div>
    



{% include 'L_foot.html' %}
{%endblock%}


