{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        投诉举报
    </div>

    <div class="Z_main">
        <div class="Z_detail">
            <h4>当投诉判定不成立时，那么用户如何操作？</h4>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei';">
                    如果用户投诉被客服判定不成立时，用户界面如下图：
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <a href="http://img.zol-img.com/article/2/1506.png" style="text-decoration: none; color: rgb(3, 88, 158);">
                    <img src="/public/images/1506.png">
                </a>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <br>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei';">此时，用户将无法再次申请投诉维权，如下图：</span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <a href="http://img.zol-img.com/article/2/1507.png" style="text-decoration: none; color: rgb(3, 88, 158);">
                    <img src="/public/images/1507.png">
                </a>
            </p>
            <p>
                <br>
            </p>
            <p></p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}