{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        卖家版
    </div>
    
    <div class="Z_main" style="min-height: 510px;">
        <div class="Z_detail">
            <h4>登陆生意宝，提示我账号或者密码错误怎么办？</h4>
            <p>首先，去经销商页面用账号密码登陆后台，如果后台也进不去，需要联系客服重置密码，然后客服找到生意宝客服同步一下。其次，如果后台能进去，而生意宝不能正常登陆，请联系客服。</p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}