{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        退款管理
    </div>

    <div class="Z_main">
        <div class="Z_detail">
            <h4>新版生意宝下载之后没有进入卖家中心的功能了？</h4>
            <p></p>
            <p>
                当买家收到货以后因为产品问题或者其他原因需要退货。
                <br>
                支付宝详细操作流程如下：
                <br>
                1、可以登录
                <a href="http://www.alipay.com">www.alipay.com</a>
                —消费记录找到需要退款的交易，点“退款”；
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1112.png">
                    <img src="/public/images/1112.png">
                </a>
            </p>
            <p>
                <br>
                2、一般买家承担运费的，如交易创建时买家选择快递，在卖家发货后，系统默认10天收货自动付款。这个时间一定要注意。 
                <br>
                3、点击退款后选择（收到货，但要求退款）注意：您没有收到货请不要选择此项，不管对方什么理由也不要选择这个，以免被骗！
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1113.png">
                    <img src="/public/images/1113.png">
                </a>
            </p>
            <p>
                <br>
                支付宝提醒您：如果在“没有收到货”的情况下点击此按钮，将导致钱货两空！
                <br>
                4、注意在点击下一步后会选择退货，里面有个退款金额的填写，然后填写退款说明，输入您的支付宝账户支付密码，
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1114.png">
                    <img src="/public/images/1114.png">
                </a>
            </p>
            <p>
                <br>
                5、买家申请退款，现在是退款协议等待卖家确认中。 
                <br>
                6、可以查看现在买家的退款状态。，
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1115.png">
                    <img src="/public/images/1115.png">
                </a>
            </p>
            <p>
                <br>
                7、卖家有15天的时间来处理退款协议。如超时未处理，退款协议将生效，交易进入退货流程。
                <br>
                8、卖家同意退款协议，选择退货地址，保存并通知买家。
                <br>
                9、退款协议达成，等待买家退货。点击“退货”。
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1116.png">
                    <img src="/public/images/1116.png">
                </a>
            </p>
            <p>
                <br>
                10、买家填写发货方式及选择物流公司，完成退货。
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1117.png">
                    <img src="/public/images/1117.png">
                </a>
            </p>
            <p>
                <br>
                11、买家已退货，等待卖家确认收到退货。 
                <br>
                12、卖家同意退款协议，退款成功。
                <br>
                网银退款流程：
                <br>
                您的款项在商城，直接联系客服热线400-678-0068.会有专人记录您的详细信息，帮您解决出现的问题，问题解决后我们才会结款给商家，保障您的利益~:
                <br>
                &nbsp;
            </p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}