{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        z团卖家
    </div>
    
    <div class="Z_main" style="min-height: 510px;">
        <div class="Z_detail">
            <h4>团购结账的周期是多久？</h4>
            <p>
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    1.团购结款需要乙方提供准确的支付宝、银行卡账号，如有任意一项未提交团购审核将不能通过；
                    <br>
                    2.甲方将在活动结束后的7-15天内且所有参与活动的用户收到合格商品情况下，周二、周五结清货款（供货价格*成功交易订单笔数）。
                </span>
            </p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}