{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        卖家版
    </div>

    <div class="Z_main">
        <div class="Z_detail">
            <h4>如何创建子账号？</h4>
            <p></p>
            <p>第一步，点击IT黄页进入生意宝后台。（旧版的位置不一样）</p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1556.png">
                    <img src="/public/images/1556.png">
                </a>
            </p>
            <p>
                <br>
                &nbsp;&nbsp;
                <br>
                第二步，点击企业-----权限管理---新员工快速创建。一定要勾选在线客服，点击创建员工。
                <br>
                &nbsp;
            </p>
            <p align="center">
                <a href="http://img.zol-img.com/article/2/1557.png">
                    <img src="/public/images/1557.png">
                </a>
            </p>
            <p>
                <br>
                &nbsp;&nbsp;
                <br>
                注：用手机号登陆的客户端只能够使用在线客服的功能，即接受网友的咨询，一键刷新、进入卖家后台等功能均不能使用。目前子账号的功能正在完善中，建议完善之后使用。
            </p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}