{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        退款、售后
    </div>

    <div class="Z_main">
        <div class="Z_detail">
            <h4>关于退换货说明</h4>
            <p></p>
            <p></p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">1、退换货成立条件：</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">1）  商品不影响二次销售</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">附注：7日无理由退货要求详情请见《网络购买商品七日无理由退货暂行办法》</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">链接可参考https://baike.baidu.com/直接搜索《网络购买商品七日无理由退货暂行办法》</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">
                    2）  经由生产厂家认可的售后服务中心或国家认可的第三方质检平台检测确认的非人为商品质量问题，并出具检测报告。
                    <br>
                    3）  当您购买的商品需要办理退换货时，商家会根据退换货规则在48小时内为您审核。
                </span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">2、退换货服务流程：</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <img src="/public/images/ChMkJ1oOegCIUYVgAACAU91YkgUAAiPdgM5XooAAIBr873.png">
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">4、退换货商品引起的运费问题:</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">1）非商品质量问题而由买家发起的七天无理由退换货行为，买家退货的商品应当完好，退回商品的来回所有运费由买家承担。</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">2）商品质量问题而导致的7天退货，15天换货行为，退回商品的所有来回运费均由卖家承担。卖家和买家另有约定的，按照约定。</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">5、赔付保障权益</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif">如商家未履行所承诺的无理由退换货服务，您可根据Z商城"先行赔付"进行维权、获得赔偿。</span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <span style="font-family: 微软雅黑, sans-serif"></span>
            </p>
            <p style="margin: 5px 0; line-height: 24px">
                <br>
            </p>
            <p></p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}