{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        退款管理
    </div>
    <div class="Z_main" style="min-height: 510px;">
        <div class="Z_detail">
            <h4>商城的商家处下订单购买了产品，发生了纠纷怎么办？</h4>
            <p>您好，您可以到买家中心-我买到的商品，做维权操作。线下交易网站无法监管，故建议您谨慎交易。</p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}