{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
        >
        购买帮助
    </div>

    <div class="Z_main" style="min-height:510px;">
        <div class="Z_detail">
            <h4>团购结账的周期是多久？</h4>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    交易状态是“买家已付款”，卖家超过24小时还未发货，请您参考以下方法进行操作：
                    <br>
                    <br>
                    1：建议您积极主动联系卖家确认发货时间；
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    <br>
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    2：您可以拨打400-688-1999客服热线，向平台客服说明情况，平台客服及时把您的信息反馈给商家，经商家核实确认发货时间后，商家或平台客服会及时和您联系告知您发货时间
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    <br>
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    3：商家出现延迟退款或其他违背商城规定的行为，请您及时联系我们，告知详细情况，我们会和商家联系核实并做记录，严格规范商家。
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    <br>
                </span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Helvetica, 宋体, san-serif; font-size: 14px; line-height: 24px; white-space: normal;">
                <span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">
                    您的一个电话反馈，为我们净化平台提供了一份心力~
                </span>
            </p>
            <p>
                <br>
            </p>
            <p></p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}