{% include 'W_head_index.html' %} {%block main%}
<link rel="stylesheet" href="/public/css/Z_question.css" ype="text/css">
<link rel="stylesheet" href="/public/css/reset.css" ype="text/css">
    
    <div id="Z_title">
        <a href="/index" target="_blank">商城首页</a>
        > 
        <a href="/index/helps" target="_blank">帮助中心首页</a>
    </div>
    
    <div class="Z_main" style="min-height: 510px;">
        <div class="Z_detail">
            <h4>团购结账的周期是多久？</h4>
            <p>
                <span style="font-family: 宋体; font-size: 10.5pt;">
                    必须要加入消保，才能“推荐”到限时抢购频道去。
                </span>
            </p>
        </div>
    </div>



{% include 'L_foot.html' %}
{%endblock%}