/*主体内容*/

.S_main {
	width: 1100px;
	min-height: 776px;
	margin: 0 auto;
	margin-top: 20px;
	/*右侧主体*/
}

.S_main .S_main_left {
	width: 150px;
	height: 735px;
	float: left;
	background: white;
	box-shadow: 1px 1px 10px 0 #ccc;
}

.S_main .S_main_left .S_big_ul {
	width: inherit;
	margin-top: 10px;
	height: 733px;
	/*big  UL  里面的第二个 li */
	/*big  UL  里面的第3个 li*/
	/*big  UL  里面的第4个 li*/
	/*big  UL  里面的第5个 li*/
	/*big  UL  里面的第6个 li*/
	/*big  UL  里面的第7个 li*/
}

.S_main .S_main_left .S_big_ul li:nth-child(1) {
	width: 132px;
	height: 138px;
	margin-left: 18px;
	/*第二层ul*/
}

.S_main .S_main_left .S_big_ul li:nth-child(1) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(1) .S_small_ul {
	width: 90px;
	height: 100px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(1) .S_small_ul li:nth-child(1) {
	width: inherit;
	height: 20px;
	margin-left: 0px;
}

.S_main .S_main_left .S_big_ul li:nth-child(1) .S_small_ul li:nth-child(1) a {
	font-size: 12px;
	width: 90px;
	color: black;
	margin-left: 0px;
}

.S_main .S_main_left .S_big_ul li:nth-child(1) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(1) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_left .S_big_ul li:nth-child(2) {
	width: 132px;
	height: 88px;
	margin-left: 18px;
}

.S_main .S_main_left .S_big_ul li:nth-child(2) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(2) .S_small_ul {
	width: 90px;
	height: 40px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(2) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(2) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_left .S_big_ul li:nth-child(3) {
	width: 132px;
	height: 113px;
	margin-left: 18px;
}

.S_main .S_main_left .S_big_ul li:nth-child(3) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(3) .S_small_ul {
	width: 90px;
	height: 70px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(3) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(3) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_left .S_big_ul li:nth-child(4) {
	width: 132px;
	height: 65px;
	margin-left: 18px;
}

.S_main .S_main_left .S_big_ul li:nth-child(4) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(4) .S_small_ul {
	width: 90px;
	height: 20px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(4) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(4) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_left .S_big_ul li:nth-child(5) {
	width: 132px;
	height: 90px;
	margin-left: 18px;
}

.S_main .S_main_left .S_big_ul li:nth-child(5) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(5) .S_small_ul {
	width: 90px;
	height: 40px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(5) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(5) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_left .S_big_ul li:nth-child(6) {
	width: 132px;
	height: 90px;
	margin-left: 18px;
}

.S_main .S_main_left .S_big_ul li:nth-child(6) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(6) .S_small_ul {
	width: 90px;
	height: 40px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(6) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(6) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_left .S_big_ul li:nth-child(7) {
	width: 132px;
	height: 150px;
	margin-left: 18px;
}

.S_main .S_main_left .S_big_ul li:nth-child(7) a {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	font-size: 15px;
}

.S_main .S_main_left .S_big_ul li:nth-child(7) .S_small_ul {
	width: 90px;
	height: 110px;
	margin-left: 26px;
}

.S_main .S_main_left .S_big_ul li:nth-child(7) .S_small_ul li {
	width: 90px;
	height: 20px;
	margin-left: 0;
	margin-top: 5px;
}

.S_main .S_main_left .S_big_ul li:nth-child(7) .S_small_ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 12px;
	margin-left: 0;
}

.S_main .S_main_right {
	width: 935px;
	height: inherit;
	float: right;
	background: white;
	/*右侧主体部分的上部分*/
	/*右侧主体部分的下部分*/
}

.S_main .S_main_right .S_main_rt {
	width: 935px;
	box-shadow: 1px 1px 10px 0 #ccc;
	overflow: hidden;
}

.S_main .S_main_right .S_main_rt ul {
	width: 903px;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 2px solid #EBEBEB;
}

.S_main .S_main_right .S_main_rt ul li {
	width: 120px;
	height: 50px;
	float: left;
	text-align: center;
}

.S_main .S_main_right .S_main_rt ul li a {
	display: inline-block;
	height: inherit;
	line-height: 48px;
}

.S_main .S_main_right .S_main_rt ul li a i:hover {
	color: #ff9999;
}

.S_main .S_main_right .S_main_rt ul li:nth-child(1) {
	border-bottom: 2px solid #CC0000;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) {
	width: 903px;
	height: 84px;
	border: none;
	margin: 30px auto;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) li {
	width: 77px;
	height: inherit;
	margin-left: 60px;
	border: none;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) li a {
	width: inherit;
	height: inherit;
	display: inline-block;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) li a i {
	font-size: 50px;
	display: inline-block;
	margin-top: 10px;
	float: left;
	margin-left: 12px;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) li a span {
	float: left;
	display: inline-block;
	width: inherit;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	margin-top: 5px;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) li a span b {
	width: 15px;
	height: 17px;
	display: inline-block;
	border-radius: 50%;
	background: #CC0000;
	line-height: 17px;
	color: white;
	font-weight: 100;
}

.S_main .S_main_right .S_main_rt ul:nth-child(2) li a span:hover {
	text-decoration: underline;
}

.S_main .S_main_right .S_main_rt table {
	width: 903px;
	margin: 0 auto;
}

.S_main .S_main_right .S_main_rt table tr {
	width: inherit;
	height: 40px;
	background: #F5F5F5;
}

.S_main .S_main_right .S_main_rt table tr td {
	font-size: 12px;
	text-align: center;
}

.S_main .S_main_right .S_main_rt table tr td:nth-child(1) {
	padding-left: 20px;
	text-align: left;
}

.S_main .S_main_right .S_main_rt table tr td:nth-child(2) {
	width: 100px;
}

.S_main .S_main_right .S_main_rt table tr td:nth-child(5) {
	width: 100px;
}

.S_main .S_main_right .S_main_rt p {
	text-align: center;
	font-size: 12px;
	width: 903px;
	height: 18px;
	line-height: 18px;
	margin: 0 auto;
}

.S_main .S_main_right .S_main_rt .S_showpage {
	width: 903px;
	margin: 0 auto;
}

.S_main .S_main_right .S_main_rb {
	width: 935px;
	height: 430px;
	box-shadow: 1px 1px 10px 0 #ccc;
	margin-top: 15px;
	overflow: hidden;
}

.S_main .S_main_right .S_main_rb .S_rb_tit {
	width: 893px;
	height: 46px;
	margin: 0 auto;
	margin-top: 10px;
}

.S_main .S_main_right .S_main_rb .S_rb_tit h3 {
	font-size: 16px;
	font-weight: 100;
	height: 46px;
	line-height: 46px;
	border-bottom: 2px solid #EBEBEB;
}

.S_main .S_main_right .S_main_rb .S_rb_prc {
	width: 893px;
	height: 344px;
	margin: 0 auto;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li {
	width: 180px;
	height: 304px;
	float: left;
	margin-top: 40px;
	margin-left: 35px;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a {
	display: inline-block;
	width: inherit;
	height: inherit;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a img {
	width: 180px;
	height: 180px;
	display: inline-block;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a p:nth-child(2) {
	font-size: 20px;
	margin: 13px 0;
	color: #FF3333;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a p:nth-child(2) i {
	font-size: 15px;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a p:nth-child(3) {
	font-size: 12px;
	margin-bottom: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a p:nth-child(3):hover {
	color: #CC0000;
	text-decoration: underline;
}

.S_main .S_main_right .S_main_rb .S_rb_prc li a span {
	font-size: 12px;
	color: #999999;
	display: block;
	margin-top: 10px;
	text-align: center;
}

.S_showpage .S_dingdan {
	margin-top: 14px;
	padding: 0 20px;
	height: 39px;
	line-height: 39px;
	background: #f7f7f7;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #e6e6e6;
}

.S_main .S_main_right .S_main_rt .message {
	float: left;
	width:200px;
	margin-top:10px;
}

.S_showpage .S_dingdan .message span {
	margin-right: 20px;
	color: #999;
}

.S_order3 {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
	color: #333;
	border: 1px solid #e6e6e6;
	vertical-align: top;
}

.S_order3 td {
	vertical-align: top;
	padding: 20px 0 16px 0;
	background: #fff;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #e6e6e6;
}

.S_order3 .cell2 {
	width: 124px;
	text-align: center;
}

.S_order3 .cell3 {
	width: 116px;
	text-align: center;
}

.S_order3 .cell4 {
	width: 107px;
	text-align: center;
}

.cell1_box .pic {
	position: relative;
	float: left;
	margin: 0 10px 0 20px;
	display: block;
	border: 1px solid #e3e3e3;
	width: 80px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 0;
}

.cell1_box .pic img {
	width: 60px;
	height: 60px;
}

.cell1_box .des {
	float: left;
	width: 180px;
	line-height: 20px;
}

.cell1_box .des a {
	color: #3366cc;
}

.cell1_box .price {
	float: left;
	width: 108px;
	text-align: center;
	margin-left: 13px;
	font-size: 14px;
}

.cell1_box .num {
	float: left;
	width: 35px;
	text-align: center;
	font-size: 14px;
}