<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/iconfont.css">
	<link rel="stylesheet" href="/public/css/x_style.css">
	

</head>

<body>
	<!-- 页面主体 -->
	<div class="x_main">
		<!-- 页面头部 -->
		<div class="x_head clear">
			<div class="x_logo_left">
				<a href="####">
					<img src="/public/images/login2.jpg" alt="">
					
				</a>
				<p>中关村在线旗下网上商城</p>
			</div>
			<div class="x_logo_right">
				<p>已有Z商城账号? <a href="/api/login">立即登录</a></p>
			</div>
		</div>
		<!-- 页面内容 -->
		<div class="x_content">
			<div class="x_content_head">
				30秒快速注册，加入Z商城
			</div>
			<div class="x_content_main clear">
				<div class="x_register_left">
					<!-- 手机号注册 -->
					<div class="x_phone_register">
						<p><span class="iconfont icon-shouji1"></span>用手机号注册</p>
					</div>
					<!-- 用户填写信息 -->
					<div class="x_register_info">
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>用户名 :&nbsp; 
								</div>
								<input type="text" class="x_input_text">
								<p class="x_remind">
									<span></span>格式有误
								</p>
							</div>
							<p class="x_remind_info">请填写用户名</p>
						</div>
						<!-- 手机号码 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>手机号码 :&nbsp; 
								</div>
								<input type="text" class="x_input_text x_iphone_text">
								<p class="x_remind x_remind_tel">
									<span></span>格式有误
								</p>
							</div>
							<p class="x_phone_info">请填写手机号码</p>
						</div>
						<!-- 短信验证码 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>短信验证 :&nbsp; 
								</div>
								<input type="text" class="x_message_code">
								<a href="####" class="x_get_mess">获取短信</a>
								<p class="x_remind x_remind_mes">
									<span></span>格式有误
								</p>
							</div>
							<p class="x_message_info">请填写手机号码验证码</p>
						</div>
						<!-- 密码输入 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>密码 :&nbsp; 
								</div>
								<input type="password" class="x_input_text x_input_pass">
								<p class="x_remind x_remindp">
									<span></span>密码格式有误
								</p>
							</div>
							<p class="x_pass_info">请填写密码</p>
						</div>
						<!-- 再次输入密码 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<div class="x_phonenum">
									<i>*</i>确认密码 :&nbsp; 
								</div>
								<input type="password" class="x_input_text x_reinput">
								<p class="x_remind x_repassAgain"></p>
							</div>
							<p class="x_pass_again">再次输入密码</p>
						</div>
						<!-- 验证码输入 -->
						<div class="x_form_one">
							<div class="x_form_info">
								<!-- 验证码 -->
								<div class="x_phonenum">
									<i>*</i>验证码 :&nbsp; 
								</div>
								<input type="text" class="x_verification_code" id="code_input">
								<input type="hidden">
								<span class="x_picture-verification" id="v_container" style="width:100px; height:36px;"></span>
								<a href="####" id="change_code">换一张</a>
							</div>
							<p class="x_pic_code">请填写图片验证码</p>
						</div>

						<div class="x_argee">
							<input type="checkbox" checked id="ck">
							<p>同意<a href="####">《商城用户协议》</a><a href="####">《隐私权说明》</a></p>
						</div>
						<input type="submit" value="注册" class="x_btn" id="x_rigesterBtn">
					</div>
				</div>
				<div class="x_register_right">
					<p>如果您已经注册，请<a href="####">直接登录</a>或者用以下方式登录：</p>
					<ul>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
						<li>
							<a href="####">
								<span></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 页面脚部 -->
		<div class="x_footer">
			<div class="x_footer_info clear">
				<ul>
					<li><a href="####">关于Z商城</a></li>
					<li></li>
					<li><a href="####">联系我们</a></li>
					<li></li>
					<li><a href="####">帮助中心</a></li>
				</ul>
				<p>©2017. 中关村在线 版权所有</p>
			</div>
		</div>
	</div>
	<!-- 遮罩板 -->
	<div id="x_zhezhao">
		<div class="x_zhezhao">
			<div class="x_zhehead clear">
				<h5>ZOL用户注册协议和隐私政策</h5>
				<span class="x_miss"></span>
			</div>
			<div class="x_zhecontent">
				<p>
					<h5><a href="####" style="color:#D44751; text-decoration:underline;">一、版权说明:</a></h5>

					<p>任何用户在本站发表任何形式的信息，均表明该用户主动将该信息的发表权、汇编权、修改权、信息网络传播权无偿独家转让给"法律百科"运营商。本协议已经构成<a href="####" style="color:#D44751; text-decoration:underline;">《著作权法》</a>第二十五条所规定的书面协议，并在用户同意本注册协议时生效，其效力及于用户此后在法律百科发布的任何内容。</p>

					<p>会员同意并明确了解上述条款，不将已发表于本站的信息，以任何形式发布或授权其它网站(及媒体)使用。

					同时，"法律百科"保留删除站内各类不符合规定点评而不通知会员的权利:</p>
				</p>
				<p>
					<h5><a href="####" style="color:#D44751; text-decoration:underline;">二、免责声明:</a></h5>
					<p>
						<a href="####" style="color:#D44751; text-decoration:underline;">"法律百科"</a>是为互联网用户提供信息存储空间的互联网服务提供者，对于任何包含、经由或连接、下载或从任何与有关本网站所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性;并且对于用户经本网站上的内容、广告、展示而购买、取得的任何产品、信息或资料，"法律百科"不负保证责任。用户自行负担使用本网站的风险。
					</p>
					
				</p>
				<p><a href="####">"法律百科"有权但无义务，改善或更正本网站任何部分之任何疏漏、错误。</a></p>
				<p><a href="####">本站内相关信息内容仅代表发布者的个人观点，并不表示本站赞同其观点或证实其描述，本站不承担由此引发的法律责任。</a></p>

				<p>
					<h5><a href="####" style="color:#D44751; text-decoration:underline;">一、版权说明:</a></h5>

					<p>任何用户在本站发表任何形式的信息，均表明该用户主动将该信息的发表权、汇编权、修改权、信息网络传播权无偿独家转让给"法律百科"运营商。本协议已经构成<a href="####" style="color:#D44751; text-decoration:underline;">《著作权法》</a>第二十五条所规定的书面协议，并在用户同意本注册协议时生效，其效力及于用户此后在法律百科发布的任何内容。</p>

					<p>会员同意并明确了解上述条款，不将已发表于本站的信息，以任何形式发布或授权其它网站(及媒体)使用。

					同时，"法律百科"保留删除站内各类不符合规定点评而不通知会员的权利:</p>
				</p>
				<p>
					<h5><a href="####" style="color:#D44751; text-decoration:underline;">二、免责声明:</a></h5>
					<p>
						<a href="####" style="color:#D44751; text-decoration:underline;">"法律百科"</a>是为互联网用户提供信息存储空间的互联网服务提供者，对于任何包含、经由或连接、下载或从任何与有关本网站所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性;并且对于用户经本网站上的内容、广告、展示而购买、取得的任何产品、信息或资料，"法律百科"不负保证责任。用户自行负担使用本网站的风险。
					</p>
					
				</p>
				<p><a href="####">"法律百科"有权但无义务，改善或更正本网站任何部分之任何疏漏、错误。</a></p>
				<p><a href="####">本站内相关信息内容仅代表发布者的个人观点，并不表示本站赞同其观点或证实其描述，本站不承担由此引发的法律责任。</a></p>
				
			</div>
			<div class="x_zhefooter clear">
				<p class="x_zheleft">取消</p>
				<p class="x_zheright">同意并继续</p>
			</div>
		</div>
		
	</div>
</body>
<script src="/public/js/gVerify.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/x_register.js"></script>
</html>