<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum=1'>
	<link rel="stylesheet" href="/public/css/yd/category/font/iconfont.css">
	<link rel="stylesheet" href="/public/css/yd/category/L_fenlei.css">
	<link rel="stylesheet" href="/public/css/yd/category/footer.css" />
	<script src="/public/js/yd/category/jquery.min.js"></script>
	<script src="/public/js/yd/category/L_fenlei.js"></script>
</head>
<body>
	<header class="clear">
		<div class="head-left">
			<a href="javascript:history.back();" class="iconfont">&#xe693;</a>
		</div>
		<div class="head-right">
			<h3>全 部 分 类</h3>
		</div>
	</header>
	<main class="clear">
		<div class="main-left">
			<ul>
				<li class="L_style"><a href="">热门推荐</a></li>
				<li><a href="####">手机通讯</a></li>
				<li><a href="####">电脑通讯</a></li>
				<li><a href="####">摄影摄像</a></li>
				<li><a href="####">DIY组装机</a></li>
				<li><a href="####">智能设备</a></li>
				<li><a href="####">外设存储</a></li>
			</ul>
		</div>
		<div class="main-right">
			<div class="Choice" style="display:block">
				<h3>推荐分类</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/01.jpg" alt=""></a>
					<p>手机</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/02.jpg" alt=""></a>
					<p>笔记本电脑</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/03.jpg" alt=""></a>
					<p>数码相机</p></li>
				</ul>
				<h3>推荐品牌</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/05.jpg" alt=""></a>
					<p>苹果</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/04.jpg" alt=""></a>
					<p>华为</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/06.jpg" alt=""></a>
					<p>乐视</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/07.jpg" alt=""></a><p>oppo</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/08.jpg" alt=""></a>
					<p>oppo</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/05.jpg" alt=""></a><p>vive</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/05.jpg" alt=""><p>苹果</p></a></li>
					<li><a href=""><img src="/public/images/ydimg/category/04.jpg" alt=""></a>苹果</li>
				</ul>
			</div>
			<div class="Choice" >
				<h3>手机配件</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/11.jpg" alt=""></a><p>手机保护套</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/12.jpg" alt=""></a><p>移动电源</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/13.jpg" alt=""></a><p>手机充电器</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/14.jpg" alt=""></a><p>手机数据线</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/15.jpg" alt=""></a><p>手机贴膜</p></li>
				</ul>
				<h3>热门品牌</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/05.jpg" alt=""></a>
					<p>苹果</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/04.jpg" alt=""></a>
					<p>华为</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/06.jpg" alt=""></a>
					<p>乐视</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/07.jpg" alt=""></a><p>oppo</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/08.jpg" alt=""></a>
					<p>oppo</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/05.jpg" alt=""></a><p>vive</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/05.jpg" alt=""><p>苹果</p></a></li>
					<li><a href=""><img src="/public/images/ydimg/category/04.jpg" alt=""></a>苹果</li>
				</ul>
			</div>
			<div class="Choice" >
				<h3>手机配件</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/16.jpg" alt=""></a><p>笔记本电脑</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/17.jpg" alt=""></a><p>平板电脑</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/18.jpg" alt=""></a><p>台式机</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/19.jpg" alt=""></a><p>一体机</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/20.jpg" alt=""></a><p>游戏笔记本</p></li>
				</ul>
				<h3>热门品牌</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/21.jpg" alt=""></a>
					<p>笔记本包</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/22.jpg" alt=""></a>
					<p>笔记本电池</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/23.jpg" alt=""></a>
					<p>笔记本底座</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/24.jpg" alt=""></a><p>笔记本电源</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/25.jpg" alt=""></a>
					<p>笔记本插件</p></li>
				</ul>
			</div>
			<div class="Choice">
				<h3>数码摄像</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/26.jpg" alt=""></a><p>数码相机</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/27.jpg" alt=""></a><p>数码摄像机</p></li>
					
					
				</ul>
				<h3>数码配件</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/28.jpg" alt=""></a>
					<p>相机镜头</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/29.jpg" alt=""></a>
					<p>滤镜</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/30.jpg" alt=""></a>
					<p>相机电池</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/31.jpg" alt=""></a><p>闪光灯</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/32.jpg" alt=""></a>
					<p>相机遥控器</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/33.jpg" alt=""></a>
					<p>相机包</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/34.jpg" alt=""></a>
					<p>内存卡</p></li>
					
				</ul>
			</div>
			<div class="Choice" >
				<h3>diy整机</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/35.jpg" alt=""></a><p>DIY整机</p></li>
					
					
					
				</ul>
				<h3>diy硬件</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/36.jpg" alt=""></a>
					<p>显示器</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/37.jpg" alt=""></a>
					<p>显卡</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/38.jpg" alt=""></a>
					<p>主板</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/39.jpg" alt=""></a><p>固态硬盘</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/40.jpg" alt=""></a>
					<p>内存</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/41.jpg" alt=""></a>
					<p>cpu</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/42.jpg" alt=""></a>
					<p>散热器</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/43.jpg" alt=""></a>
					<p>机箱</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/44.jpg" alt=""></a>
					<p>电源</p></li>
					
				</ul>
			</div>
			<div class="Choice">
				<h3>智能穿戴</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/45.jpg" alt=""></a><p>智能手表</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/46.jpg" alt=""></a><p>智能手环</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/47.jpg" alt=""></a><p>VR眼镜</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/48.jpg" alt=""></a><p>智能称</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/48.jpg" alt=""></a><p>智能称</p></li>
					
				</ul>
				<h3>智能家居</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/50.jpg" alt=""></a>
					<p>智能家居</p></li>
				</ul>
			</div>
			<div class="Choice" >
				<h3>外设设备</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/51.jpg" alt=""></a><p>鼠标</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/52.jpg" alt=""></a><p>耳机</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/53.jpg" alt=""></a><p>键盘</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/54.jpg" alt=""></a><p>键鼠套装</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/55.jpg" alt=""></a><p>鼠标垫</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/56.jpg" alt=""></a><p>音响</p></li>
					
					
				</ul>
				<h3>存储设备</h3>
				<ul class="clear">
					<li><a href=""><img src="/public/images/ydimg/category/57.jpg" alt=""></a><p>U盘</p></li>
					<li><a href=""><img src="/public/images/ydimg/category/58.jpg" alt=""></a><p>移动硬盘</p></li>
				</ul>
				<h3>路由器</h3>
				<li><a href=""><img src="/public/images/ydimg/category/59.jpg" alt=""></a><p>路由器</p></li>
			</div>
		</div>

	</main>
	<!--尾部-->
	<footer>
		<a href="/yd/shouye">
			<label >
				<i class="iconfont" >&#xe61c;</i>
				<span>首页</span>
			</label>
		</a>
		<a href="/yd/fenlei">
			<label>
				<i class="iconfont" style="color:#FF1111">&#xe699;</i>
				<span style="color:#FF1111">分类</span>
			</label>
		</a>
		<a href="/yd/gouwu">
			<label>
				<i class="iconfont">&#xe63f;</i>
				<span>购物车</span>
			</label>
		</a>
		<a href="/yd/me">
			<label>
				<i class="iconfont">&#xe6a3;</i>
				<span>我</span>
			</label>
		</a>
	</footer>
</body>
<script>
	var html = document.getElementsByTagName('html')[0];
	var W = html.clientWidth;
	html.style.fontSize = W / 20 +'px';
	// console.log(W);
</script>
</html>