{% block main %}
<link rel="stylesheet" href="/public/css/W_head_index.css" />
{% include '../head.html' %}
	<title>Document</title>
	<link rel="stylesheet" href="/public/css/L_jiesuan.css">
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/sub_order.css">
	<script src="/public/js/jquery-1.7.2.min.js"></script>
<body>
	<!-- 内容 -->
	<main>
		<!-- 收银台 -->
		<div class="x_orderhead clear">
			<a href="####"><img src="/public/images/logo3.png" alt=""></a>
			<span>收银台</span>
		</div>

		<div class="x_ordermain">
			<!-- 订单付款 -->
			<div class="x_ordercontent">
				<div class="x_autopay clear">
					<div class="x_autopay_left">
						<p>订单已提交，请在<span>24小时</span>内完成付款(逾期自动取消)</p>
						<div class="x_orderdetail">
							<p>
								您的订单号：<span>2017121717154210737823</span>商品名称：<span>包邮游戏鼠标垫大锁边键盘垫办公桌垫大鼠标等</span>
							</p>
							<p>
								收货人：<span>wrewr13865234873</span>收货地址：<span>东湖路123号/东山湖公园</span>
							</p>
						</div>
						
					</div>
					<div class="x_autopay_right clear">
						<span>应付金额 <em>9.00</em> 元</span>
						<div class="x_zfbewm">
							<img src="/public/images/zfbsaomiao.jpg" alt="">
							<p class="x_zhifubao"></p>
						</div>
						
					</div>
					
				</div>		
			</div>
			<!-- 付款方式 -->
			<div class="x_payment_way">
				<!-- 第三方支付平台 -->
				<dl class="x_third_pay">
					<dt>
						<span class="x_third_span"></span>第三方支付平台
					</dt>
					<dd>
						<div class="x_wb">
							<a href="####">
								<img src="/public/images/zhifubao.png" alt="">
							</a>
							<a href="####">
								<img src="/public/images/weixin.png" alt="">
							</a>
						</div>
					</dd>
				</dl>
			</div>

			<!-- 银行卡支付方式 -->
			<div class="x_payment_yhk">

				<dl class="x_bank_pay">
					<dt>
						<span class="x_bank_span"></span>银行卡支付
					</dt>

					<dd class="x_sum_pay">
						<span>支付<em>9.00</em>元</span>
					</dd>
				</dl>  

				<div class="x_bank_den">
					<div class="x_bank_title x_bank_add clear">
						<p>存储卡网银</p>
						<p>信用卡</p>
					</div>
					<ul class="x_wanyin clear">
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
					</ul>
					<ul class="x_credit clear">
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
						<li>
							<a href="####"></a>
							<p class="index-text">存储卡</p>
						</li>
					</ul>
				</div>
				
			</div>
			
			<!-- 立即支付 -->
			<div class="x_quipay">
				<a href="####">立即支付</a>
				<a href="####">请选择银行</a>
			</div>
			<!-- 提示 -->
			<p class="x_tip">
				<span></span>
				<span>提示： 若订单金额大于您的网络支付单笔交易限额，您可以拍下多个订单，并致电客服给您拆单再进行分单付款，客服电话400-688-1999；</span>
			</p>
			<!-- 分割线 -->
			<div class="x_splitline"></div>

			<!-- 常见问题 -->
			<div class="x_usallyquetsion">
				<h4>常见支付问题</h4>
				<ol class="x_quetsiondetail">
					<li>
						<h5>1. 支付金额超过网银支付的单笔限额怎么办</h5>
						<p>若支付金额超过您的网银单笔交易限额，您可以下多个订单，并致电客服400-688-1999，由我们客服给您拆单再进行分单付款；或致电银行取消限额。</p>
					</li>
					<li>
						<h5>2. 网上银行/支付宝/微信已扣款有消费记录，但订单上还显示"等待买家付款" ?</h5>
						<p>出现此问题，可能是银行/支付宝/财付通的数据没有即时传输至我们收银台，请您第一时间与我们客服联系400-688-1999告知订单信息，我们将协助您解决。</p>
					</li>
					<li>
						<h5>3. 支付宝余额有足额的金额，却无法用余额付款</h5>
						<p>可能由于您支付宝账户没有实名认证，建议您去支付宝网页申请实名认证。</p>
					</li>
				</ol>
				<p class="x_payhelp">
					<a href="####">查看更多支付帮助></a>
					<a href="####">问题反馈></a>
				</p>
			</div>
		</div>
	</main>
	<!-- 脚部 -->
	<footer>
		<ul class="L_clear">
			<li><a href="">关于商城</a><span>|</span></li>
			<li><a href="">营销中心</a><span>|</span></li>
			<li><a href="">服务中心</a><span>|</span></li>
			<li><a href="">联系我们</a><span>|</span></li>
			<li><a href="">发展历程</a><span>|</span></li>
			<li><a href="">媒体报道</a></li>
		</ul>
		<p>©2017中关村在线 版权所有. 京ICP备09041801号-182 <a href="">京ICP证010391号</a></p>
		<ol class="L_clear">
			<li><a href=""><img src="/public/images/foot01.png" alt=""></a></li>
			<li><a href=""><img src="/public/images/foot02.png" alt=""></a></li>
			<li><a href=""><img src="/public/images/foot03.png" alt=""></a></li>
		</ol>
	</footer>
	{% include '../success/x_osuccess.html' %}
</body>
<script src="/public/data/sub_order.js"></script>

</html>

{%endblock%}