<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/public/css/reset1.css" />
		<link rel="stylesheet" href="/public/css/font/iconfont.css" />
		<link rel="stylesheet" href="/public/css/W_head_index.css" />
		<script src="/public/js/jquery.min.js"></script>
		<script src="/public/js/W_head_index.js"></script>
		<script src="/public/js/W_move.js"></script>
		
	</head>

	<body>
		<div id="W_head">
			<div class="W_head clear">
				<div class="W_head_left">
					<span class="W_head_left_s">
						<a href="#">商城首页</a>
					</span>
					{% if title._id %}
					<!-- 登录后状态 -->
					<span class="W_head_left_s">
						您好
						<a href="#" class="W_blue">{{title.username}}</a>
						<span style="display:none;" class="userid">{{title._id}}</span>
					</span>
					<span class="W_head_left_s">
						<a href="#" class="W_blue W_out">退出</a>
					</span>
					
					{% else %}
					<!-- 未登录状态 -->
					<span class="W_head_left_s">
						Hi~欢迎来到Z商城，请
						<a href="/api/user/login" class="W_blue">登录</a>
					</span>
					<span class="W_head_left_s">
						<a href="/api/user/nregister" class="W_blue">免费注册</a>
					</span>

				{% endif %}
				</div>
				<ul class="W_head_right clear">
					<li>
						<a href="#">我的订单</a>
					</li>
					<li class="W_head_top">
						<a class="W_head_top_a" href="#">买家中心</a>
						<i class="iconfont W_head_top_icon">&#xe501;</i>
						<div class="W_mai_center W_h_box">
							<a href="#" style="display:none;">我的优惠券&nbsp;&nbsp;<em>8</em></a>
							<a href="#">关注的店铺&nbsp;&nbsp;<em>30</em></a>
							<a href="#">关注的商品&nbsp;&nbsp;<em>48</em></a>
						</div>
					</li>
					<li>
						<a href="#">购物车1件</a>
					</li>
					<li>
						<a href="#">帮助中心</a>
					</li>
					<li style="margin:0px 5px;padding:0px;">|</li>
					<li class="W_head_top">
						<i class="iconfont W_phone">&#xe621;</i>
						<a class="W_head_top_a" href="#">手机商城</a>
						<i class="iconfont W_head_top_icon">&#xe501;</i>

						<div class="W_ma_img W_h_box">
							<img width="130" height="130" src="/public/images/shop_wechat.png" alt="" />
						</div>
					</li>
					<li>
						<a href="#">中关村在线</a>
					</li>
					<li class="W_head_top">
						<a class="W_head_top_a" href="#">联系客服</a>
						<i class="iconfont W_head_top_icon">&#xe501;</i>
						<div class="W_kefu W_h_box">
							400-688-1999
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="container-fluid">
			<!-- 模板替换 -->
			{%block main%}{%endblock%}
		</div>
	</body>

</html>