<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/public/css/x_osuccess.css">
</head>
<body>
	<div class="x_success">
		<div>
			<div class="x_titcha clear">
				<span>温馨提示</span>
				<span class="x_misss"></span>
			</div>
			
			<div class="x_goodmain">
				<div class="x_suright">
					<p>您所购买的商品，商家无法提供<a href="####"> "7天无理由退换货"</a></p>

					<p>
						<input type="checkbox" class="x_confirm">
						<span>请勾选以确认您已知悉本提示</span>
						<p id="x_info">“ 请勾选此框，在提交订单 “</p>
					</p>
					
					<p class="x_sendorder"><a href="####" class="x_gobuy">提交订单</a></p>
					<a href="####" class="x_ongo">取消</a>
				</div>
			</div>
			
		</div>
		
	</div>
</body>
</html>