<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/public/css/x_success.css">
</head>
<body>
	<div class="x_success">
		<div>
			<p class="x_chacha"><span></span></p>
			
			<div class="x_goodmain clear">
				<div class="x_suleft"><span></span></div>
				<div class="x_suright">
					<p class="x_sutitle">商品已成功添加至购物车</p>
					<p>购物车一共有<span>1</span>件商品，总价<span>9</span>元</p>
					<p><a href="####" class="x_gobuy">去购物车结算</a></p>
					<a href="####" class="x_ongo">继续购物</a>
				</div>
			</div>
			
		</div>
		
	</div>
</body>
</html>